.five-day-item {
  padding: 0px 10px;
  font-size: 20px;
}

.weather-item p,
.list-gases li,
.request-history li {
  font-size: 30px;
}

.weather-item .city,
.air h1,
.request-history h1 {
  font-size: 46px;
  font-weight: 600;
}

.weather-five h2 {
  padding-bottom: 5px;
  font-size: 30px;
}

.delete-button {
  font-size: 20px;
  font-weight: 600;
}
      
ol {
  margin: 0 0 0 20px;
}